## Типы данных в Питоне

### Работа с числами

In [55]:
a = 25  # целое число (int)
b = 2.5  # число с плавающей точкой (float)
c = 3 + 25j  # комплексное число (complex)

In [56]:
# экспоненциальная запись, 2 умножить на 10 в степени 3
d = 2e3
print(d)
print(type(d))

2000.0
<class 'float'>

Арифметические операции

In [57]:
# сложение, вычитание, умножение, деление, возведение в степень
print(2 + 2, 4 - 2, 2 * 2, 4 / 2, 2**3)

4 2 4 2.0 8

In [58]:
# новая для нас операция: разделим 7 на 2, и найдем целую часть и остаток

# целая часть
print(7 // 2)

# остаток от деления
print(7 % 2)

3
1

# Операторы сравнения

In [59]:
# больше, меньше, больше или равно и меньше или равно
print(4 > 2, 4 < 2, 4 >= 2, 4 <= 2)

True False True False

In [60]:
# равенство
print(2 == 4)

# и новый для нас оператор неравенства
print(2 != 4)

False
True

### Логические операции

In [61]:
# логическое И, обе операции должны быть истинны
print(4 > 2 and 2 != 3)

# логическое ИЛИ, хотя бы одна из операций должна быть истинна
print(4 < 2 or 2 == 2)

# логическое НЕ, перевод истинного значения в ложное и наоборот
print(not (4 == 4))

True
True
False

####  Перевод чисел в другую систему счисления

In [62]:
# создадим число в десятичной системе
d = 3456

# переведем в двоичную (binary)
bin_d = bin(d)
print(bin_d)

# переведем обратно в десятичную
print(int(bin_d, 2))

0b110110000000
3456

In [63]:
# создадим число в десятичной системе
d = 25

# переведем в восьмеричную (octal)
oct_d = oct(d)
print(oct_d)

# переведем обратно в десятичную
print(int(oct_d, 8))

0o31
25

In [64]:
# создадим число в десятичной системе
d = 25

# переведем в шестандцатеричную (hexadecimal)
hex_d = hex(d)
print(hex_d)

# переведем обратно в десятичную
print(int(hex_d, 16))

0x19
25

### Строковые данные

In [65]:
string_1 = "это строка"
string_2 = "это тоже строка"

In [66]:
multi_string = """Мы все учились понемногу
Чему-нибудь и как-нибудь,
Так воспитаньем, слава богу,
У нас немудрено блеснуть."""

Объединение строк

In [67]:
# создадим три строки
a, b, c = "Программирование", "на", "Питоне"

# соединим с помощью + и добавим пробелы ' '
a + " " + b + " " + c

'Программирование на Питоне'

Индекс символа в строке

In [68]:
# выведем первый элемент строки multi_string
print(multi_string[0])

# теперь выведем последний элемент
print(multi_string[1])

print(multi_string[2])

print(multi_string[3])
print(multi_string[4])
print(multi_string[5])
print(multi_string[6])
print(multi_string[7])
print(multi_string[8])
print(multi_string[9])
print(multi_string[10])
print(multi_string[11])
print(multi_string[12])
print(multi_string[13])

М
ы

в
с
е

у
ч
и
л
и
с
ь

In [69]:
# выберем элементы с четвертого по шестой
print(multi_string[3:6])

все

In [70]:
# выведем все элементы вплоть до второго
print(multi_string[:2])

# а также все элементы, начиная с четвертого
print(multi_string[3:])

Мы
все учились понемногу
Чему-нибудь и как-нибудь,
Так воспитаньем, слава богу,
У нас немудрено блеснуть.

Циклы в строках

In [71]:
# выведем буквы в слове Питон
for i in "питон":
    print(i)

п
и
т
о
н

Методы .strip() и .split()

In [72]:
# применим метод .strip(), чтобы удалить *
print("***15 849 302*****".strip("*"))

# если ничего не указать в качестве аргумента, то удаляются пробелы по краям строки
print(" 15 849 302 ".strip())

15 849 302
15 849 302

In [73]:
# применим метод .split(), чтобы разделить строку на части
print(multi_string.split())

['Мы', 'все', 'учились', 'понемногу', 'Чему-нибудь', 'и', 'как-нибудь,', 'Так', 'воспитаньем,', 'слава', 'богу,', 'У', 'нас', 'немудрено', 'блеснуть.']

In [74]:
# посчитаем количество слов в тексте (длину списка)
len(multi_string.split())

15

Замена символа в строке

In [75]:
# предположим данные содержатся вот в таком формате
data = "20,25"

# теперь заменим ',' на '.'
data = data.replace(",", ".")

# и преобразуем в число
data = float(data)
print(data)
print(type(data))

20.25
<class 'float'>

### Логические значения

In [76]:
# напишем небольшую программу, которая будет показывать,
# какое значение содержится в переменной var

if var == True:
    print("Значение переменной истинно")
else:
    print("Значение переменной ложно")

NameError: name 'var' is not defined