### Сщздание (обьявление) переменных

In [1]:
# можно создать переменную, присвоив ей значение
x = 15
print(x)  # выводит: 15

15

In [4]:
# кроме того, переменной можно задать строковое (текстовое) значение
y = "я програмирую на питоне"
print(y)

я програмирую на питоне

In [6]:
# в Питоне можно присвоить разные значения сразу нескольким переменным
(
    a,
    b,
    c,
) = (
    "питон",
    "C++",
    "JavaScript",
)
print(a, b, c)  # выводит: питон C++ JavaScript

питон C++ JavaScript

In [8]:
# a также можно присвоить одно и то же значение нескольким переменим
x = y = z = "тоже же самое значение, но в других переменных"
print(x, y, z)

тоже же самое значение, но в других переменных тоже же самое значение, но в других переменных тоже же самое значение, но в других переменных

In [11]:
# каждый элемент списка можно "распоковать" в переменные
my_list = ["помидоры", "огурцы", "перец"]
a, b, c = my_list
print(a, b, c)

помидоры огурцы перец

### Автоматическое определение типа данных

In [12]:
x = 256  # в этом случае переменной х присвается тип  int (целое число)
y = 0.25  # установится float (деситичное дробью)
z = "Привет"  # строка string
print(type(x))  # выводит: <class 'int'>
print(type(y))  # выводит: <class 'float'>
print(type(z))  # выводит: <class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

### как узнать тип переменой в питоне

In [13]:
# узнаем тип перееменных из передыдущего примера
print(type(x), type(y), type(z))

<class 'int'> <class 'float'> <class 'str'>

### присвоение и преоброзование типа данных

Присвоение типа данных

In [ ]:
x = str(25)  # числа 25 превратится в строку
y = int(25)  # число 25 останется целочисленным значением
z = float(25)  # число 25 превратится в десатичную дробовь

In [14]:
print(type(x), type(y), type(z))

<class 'int'> <class 'float'> <class 'str'>

**Изменение** типа данных

In [17]:
# преобразуем строку, похожую на целое число, в целое число
print(type(int("25")))

<class 'int'>

In [16]:
# или строку, похожую на дробь, в настоящую десятичную дробь
print(type(float("2.5")))

<class 'float'>

In [18]:
# преобразуем дробь в целочисленное значение
# обратите внимание, что округления в большую сторону не происходит
print(int(36.6))
print(type(int(36.6)))

36
<class 'int'>

In [19]:
# конечно, и целое число, и дробь можно преобразовать в строку
print(type(str(25)))
print(type(str(36.6)))

<class 'str'>
<class 'str'>

### Именование переменных



```
# Выбран кодовый формат
```

Допустимые имена переменных

In [ ]:
variable = "Просто переменная"
_variable = "Просто переменная"
variable_ = "Просто переменная"
my_variable = "Просто переменная"
My_variable_123 = "Просто переменная"

Имя переменной состоит из нескольких слов

In [ ]:
# можно применить так называемый верблюжий регистр, camelCase
# все слова кроме первого начинаются с заглавной буквы и пишутся слитно
camelCaseVariable = "Верблюжий регистр"

# нотацию Паскаль, PascalCase (то же самое, только тепер все слова пишутся с заглавной)
PascalCaseVariable = "Нотация Паскаль"

# змеиный стиль, snake_case (с нижними подчеркиваниями)
snake_case_variable = "Змеиная нотация"

Недопустимые названия переменной

In [20]:
# Примеры недопустимых имён (раскомментируйте по очереди, чтобы увидеть ошибки):
# my-variable = 'Так делать нельзя'   # SyntaxError: дефис в имени
# 123variable = 'Так делать нельзя'   # SyntaxError: имя не может начинаться с цифры
# my variable = 'Так делать нельзя'   # SyntaxError: пробел в имени

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3709343952.py, line 1)

### Ответы на вопросы

**Вопрос**. Как можно преобразовать список чисел таким образом, чтобы каждый элемент списка превратился в отдельную строку?

In [22]:
# возьмем простой список
list_ = [1, 2, 3]

In [23]:
# использовать только функцию str() нельзя
str(list_)

'[1, 2, 3]'

In [24]:
# вариант 1: объявить новый список и в цикле for помещать туда строковые значения
list_str = []

for x in list_:
    list_str.append(str(x))

list_str

['1', '2', '3']

In [25]:
# вариант 2: использовать list comprehension
[str(x) for x in list_]

['1', '2', '3']

In [26]:
# вариант 3: функции map() и list()
list(map(str, list_))

['1', '2', '3']