In [1]:
"""Переменные в Питоне."""

'Переменные в Питоне.'

## Как объявить переменную в Питоне.

In [2]:
# можно создать переменную, присвоив ей числовое значение
x_1: int = 15
print(x_1)

15

In [ ]:
# кроме того, переменной можно задать строковое (текстовое) значение
y_1: str = "Я программирую на Питоне"
print(y_1)

Я программирую на Питоне

In [4]:
# присваиваем разные значения сразу нескольким переменным
a_1: str
b_1: str
c_1: str
a_1, b_1, c_1 = "Питон", "C++", "PHP"
print(a_1, b_1, c_1)

Питон C++ PHP

In [5]:
# задаем одно и то же значение нескольким переменным
x_2: str
y_2: str
z_2: str
x_2 = y_2 = z_2 = "То же самое значение"
print(x_2, y_2, z_2)

То же самое значение То же самое значение То же самое значение

In [6]:
# Помимо этого, список можно «распаковать» (unpack) в несколько переменных:
my_list: list[str] = ["помидоры", "огурцы", "картофель"]
a_3: str
b_3: str
c_3: str
a_3, b_3, c_3 = my_list
print(a_3, b_3, c_3)

помидоры огурцы картофель

## Автоматическое определение типа данных.

In [7]:
x_3: int = (
    256  # в этом случае переменной x присваивается тип int (целочисленное значение)
)
y_3: float = 0.25  # y становится float (десятичной дробью)
z_3: str = "Просто текст"  # z становится str (строкой)

## Как узнать тип переменной в Питоне.

In [8]:
# узнаем тип переменных из предыдущего примера
print(type(x_3), type(y_3), type(z_3))

<class 'int'> <class 'float'> <class 'str'>

## Присвоение и преобразование типа данных.

In [ ]:
x_4: str = str(25)  # число 25 превратится в строку
y_4: int = int(25)  # число 25 останется целочисленным значением
z_4: float = float(25)  # число 25 превратится в десятичную дробь

print(type(x_4), type(y_4), type(z_4))

<class 'str'> <class 'int'> <class 'float'>

In [10]:
# преобразуем строку, похожую на целое число, в целое число
print(type(int("25")))

<class 'int'>

In [11]:
# или строку, похожую на дробь, в настоящую десятичную дробь
print(type(float("2.5")))

<class 'float'>

In [12]:
# преобразуем дробь в целочисленное значение
# обратите внимание, что округления в большую сторону не происходит
print(int(36.6))
print(type(int(36.6)))

36
<class 'int'>

In [13]:
# конечно, и целое число, и дробь можно преобразовать в строку
print(type(str(25)))
print(type(str(36.6)))

<class 'str'>
<class 'str'>

## Именование переменных.

In [ ]:
# допустимые имена переменных
# variable: str = 'Просто переменная'
# _variable: str = 'Просто переменная'
# variable_: str = 'Просто переменная'
# my_variable: str = 'Просто переменная'
# My_variable_123: str = 'Просто переменная'

In [ ]:
# можно применить так называемый верблюжий регистр, camelCase
# все слова кроме первого начинаются с заглавной буквы и пишутся слитно
camelCaseVariable: str = "Верблюжий регистр"  # noqa: N816

# нотацию Паскаль, PascalCase (то же самое, только тепер все слова пишутся с заглавной)
PascalCaseVariable: str = "Нотация Паскаль"

# змеиный стиль, snake_case (с нижними подчеркиваниями)
snake_case_variable: str = "Змеиная нотация"

In [ ]:
# А теперь несколько примеров недопустимых имен:
# my-variable = 'Так делать нельзя'
# 123variable = 'Так делать нельзя'
# my variable = 'Так делать нельзя'

- Также важно отметить, что служебные слова, например, print, int, str, list, dict, set не могут использоваться в качестве названий переменных. Другими словами, my_list или list_ можно использовать в качестве имени переменной, а вот просто list нельзя.