In [ ]:
"""Переменные в python."""

## Переменные в Питоне

### Создание (объявление) переменных

In [2]:
# можно создать переменную, присвоив ей числовое значение
integer: int = 15
print(integer)

15

In [3]:
# кроме того, переменной можно задать строковое (текстовое) значение
string: str = "Я программирую на Питоне"
print(string)

Я программирую на Питоне

In [11]:
# в Питоне можно присвоить разные значения сразу нескольким переменным
str_a: str
str_b: str
str_c: str
str_a, str_b, str_c = "Питон", "C++", "PHP"
print(str_a, str_b, str_c)

Питон C++ PHP

In [12]:
# а также присвоить одно и то же значение нескольким переменным
srt_x: str
str_y: str
str_z: str
str_x = str_y = str_z = "То же самое значение"
print(str_x, str_y, str_z)

То же самое значение То же самое значение То же самое значение

In [13]:
# каждый элемент списка можно "распаковать" в переменные
my_list: list[str] = ["помидоры", "огурцы", "картофель"]
list_a: str
list_b: str
list_c: str
list_a, list_b, list_c = my_list
print(list_a, list_b, list_c)

помидоры огурцы картофель

### Автоматическое определение типа данных

In [9]:
sample_x = 256  # в этом случае переменной sample_x присваивается тип int (целочисленное значение)
sample_y = 0.25  # sample_y становится float (десятичной дробью)
sample_z = "Просто текст"  # sample_z становится str (строкой)

In [10]:
# узнаем тип переменных из предыдущего примера
print(type(sample_x), type(sample_y), type(sample_z))

<class 'int'> <class 'float'> <class 'str'>

### Присвоение и преобразование типа данных

Присвоение типа данных

In [17]:
var_x: str = str(25)  # число 25 превратится в строку
var_y: int = int(25)  # число 25 останется целочисленным значением
var_z: float = float(25)  # число 25 превратится в десятичную дробь

In [18]:
print(type(var_x), type(var_y), type(var_z))

<class 'str'> <class 'int'> <class 'float'>

Изменение типа данных

In [ ]:
# преобразуем строку, похожую на целое число, в целое число
print(type(int("25")))

In [10]:
# или строку, похожую на дробь, в настоящую десятичную дробь
print(type(float("2.5")))

<class 'float'>

In [11]:
# преобразуем дробь в целочисленное значение
# обратите внимание, что округления в большую сторону не происходит
print(int(36.6))
print(type(int(36.6)))

36
<class 'int'>

### Именование переменных

Допустимые имена переменных

In [ ]:
var_name: str = "Просто переменная"
_variable: str = "Просто переменная"
variable_: str = "Просто переменная"
my_variable: str = "Просто переменная"
My_variable_123: str = "Просто переменная"

Имя переменной состоит из нескольких слов

In [ ]:
# можно применить так называемый верблюжий регистр, camelCase
# все слова кроме первого начинаются с заглавной буквы и пишутся слитно
camelCaseVariable: str = "Верблюжий регистр"  # noqa: N816

# нотацию Паскаль, PascalCase (аналогично)
PascalCaseVariable: str = "Нотация Паскаль"

# змеиный стиль, snake_case (с нижними подчеркиваниями)
snake_case_variable: str = "Змеиная нотация"

Недопустимые названия переменной

In [1]:
# my-variable = 'Так делать нельзя'
# 123variable = 'Так делать нельзя'
# my variable = 'Так делать нельзя'

### Ответы на вопросы

**Вопрос**. Как можно преобразовать список чисел таким образом, чтобы каждый элемент списка превратился в отдельную строку?

In [6]:
# возьмем простой список
list_: list[int] = [1, 2, 3]

In [7]:
# использовать только функцию str() нельзя
str(list_)

'[1, 2, 3]'

In [8]:
# вариант 1: объявить новый список и в цикле for
# помещать туда строковые значения
list_str: list[str] = []

for char in list_:
    list_str.append(str(char))

list_str

['1', '2', '3']

In [24]:
# вариант 2: использовать list comprehension
list_1: list[str] = [str(item) for item in list_]

In [23]:
# вариант 3: функции map() и list()
list_2: list[str] = list(map(str, list_))