In [ ]:
"""Типы данных в python."""

## Типы данных в Питоне

### Работа с числами

In [1]:
var_a = 25  # целое число (int)
var_b = 2.5  # число с плавающей точкой (float)
var_c = 3 + 25j  # комплексное число (complex)

In [2]:
# экспоненциальная запись, 2 умножить на 10 в степени 3
var_d = 2e3
print(var_d)
print(type(var_d))

2000.0
<class 'float'>

Арифметические операции

In [3]:
# сложение, вычитание, умножение, деление, возведение в степень
var_1: int = 2
var_2: int = 4
var_3: int = 3
print(var_1 + 2, var_2 - 2, var_1 * 2, var_2 / 2, 2**var_3)

4 2 4 2.0 8

In [4]:
# новая для нас операция: разделим 7 на 2, и найдем целую часть и остаток

# целая часть
print(7 // var_1)

# остаток от деления
print(7 % var_1)

3
1

Операторы сравнения

In [6]:
# больше, меньше, больше или равно и меньше или равно
print(var_2 > var_1, var_2 < var_1, var_2 >= var_1, var_2 <= var_1)

True False True False

In [7]:
# равенство
print(var_1 == var_2)

# и новый для нас оператор неравенства
print(var_1 != var_2)

False
True

In [ ]:
# логическое И, обе операции должны быть истинны
print(var_2 > var_1 and var_1 != var_3)

# логическое ИЛИ, хотя бы одна из операций должна быть истинна
print(var_1 < var_2 or var_2 == 2)

# логическое НЕ, перевод истинного значения в ложное и наоборот
# print(not (var_2 == 4))

True
True
False

Перевод чисел в другую систему счисления

In [11]:
# создадим число в десятичной системе
var_d = 25

# переведем в двоичную (binary)
bin_d = bin(var_d)
print(bin_d)

# переведем обратно в десятичную
print(int(bin_d, 2))

0b11001
25

In [12]:
# переведем в восьмеричную (octal)
oct_d = oct(var_d)
print(oct_d)

# переведем обратно в десятичную
print(int(oct_d, 8))

0o31
25

In [14]:
# переведем в шестандцатеричную (hexadecimal)
hex_d = hex(var_d)
print(hex_d)

# переведем обратно в десятичную
print(int(hex_d, 16))

0x19
25

### Строковые данные

In [11]:
string_1 = "это строка"
string_2 = "это тоже строка"

In [12]:
multi_string = """Мы все учились понемногу
Чему-нибудь и как-нибудь,
Так воспитаньем, слава богу,
У нас немудрено блеснуть."""

Длина строки

In [13]:
# воспользуемся функцией len()
len(multi_string)

105

Объединение строк

In [15]:
# создадим три строки
str_a, str_b, str_c = "Программирование", "на", "Питоне"

# соединим с помощью + и добавим пробелы ' '
str_a + " " + str_b + " " + str_c

'Программирование на Питоне'

Индекс символа в строке

In [15]:
# выведем первый элемент строки multi_string
print(multi_string[0])

# теперь выведем последний элемент
print(multi_string[-1])

М
.

Срезы строк

In [16]:
# выберем элементы с четвертого по шестой
print(multi_string[3:6])

все

In [17]:
# выведем все элементы вплоть до второго
print(multi_string[:2])

# а также все элементы, начиная с четвертого
print(multi_string[3:])

Мы
все учились понемногу
Чему-нибудь и как-нибудь,
Так воспитаньем, слава богу,
У нас немудрено блеснуть.

Циклы в строках

In [18]:
# выведем буквы в слове Питон
for i in "Питон":
    print(i)

П
и
т
о
н

Методы .strip() и .split()

In [19]:
# применим метод .strip(), чтобы удалить *
print("***15 849 302*****".strip("*"))

# если ничего не указать в качестве аргумента, то удаляются пробелы по краям строки
print(" 15 849 302 ".strip())

15 849 302
15 849 302

In [20]:
# применим метод .split(), чтобы разделить строку на части
print(multi_string.split())

['Мы', 'все', 'учились', 'понемногу', 'Чему-нибудь', 'и', 'как-нибудь,', 'Так', 'воспитаньем,', 'слава', 'богу,', 'У', 'нас', 'немудрено', 'блеснуть.']

In [21]:
# посчитаем количество слов в тексте (длину списка)
len(multi_string.split())

15

Замена символа в строке

In [16]:
# предположим данные содержатся вот в таком формате
data_str: str = "20,25"

# теперь заменим ',' на '.'
data_str = data_str.replace(",", ".")

# и преобразуем в число
data_float: float = float(data_str)
print(data_float)
print(type(data_float))
print(type(data_str))

20.25
<class 'float'>
<class 'str'>

### Логические значения

In [20]:
# создадим переменную и запишем в нее логическое значение True
# (обязательно с большой буквы)
bool_variable: bool = False
type(bool_variable)

bool

In [21]:
# напишем небольшую программу, которая будет показывать,
# какое значение содержится в переменной var

if bool_variable is True:
    print("Значение переменной истинно")
else:
    print("Значение переменной ложно")

Значение переменной ложно