In [38]:
"""Datetime."""

'Datetime.'

## Дата и время в Питоне

### Модуль datetime

Импорт модуля и класса datetime

In [ ]:
from datetime import datetime, timedelta

In [40]:
# импортируем весь модуль
# import datetime

# чтобы получить доступ к функции now(), сначала обратимся к модулю, потом к классу
# print(datetime.datetime.now())

In [41]:
# часто из модуля datetime удобнее импортировать только класс datetime
# from datetime import datetime, timedelta

# и обращаться непосредственно к нему
print(datetime.now())

2025-09-20 14:20:24.693089

Объект datetime и функция `now()`

In [42]:
# поместим созданный с помощью now() объект datetime в переменную cur_dt
cur_dt = datetime.now()
print(cur_dt)

2025-09-20 14:20:24.699451

In [43]:
# с помощью соответствующих атрибутов выведем каждый из компонентов объекта
print(
    cur_dt.year,
    cur_dt.month,
    cur_dt.day,
    cur_dt.hour,
    cur_dt.minute,
    cur_dt.second,
    cur_dt.microsecond,
)

2025 9 20 14 20 24 699451

In [44]:
# также можно посмотреть на день недели
# метод .weekday() начинает индекс недели с нуля, .isoweekday() - с единицы
print(cur_dt.weekday(), cur_dt.isoweekday())

5 6

In [45]:
# посмотрим на часовой пояс с помощью атрибута tzinfo
print(cur_dt.tzinfo)

None

Timestamp

In [46]:
# получим timestamp текущего времени с помощью метода .timestamp()
timestamp = datetime.now().timestamp()

In [47]:
# выведем количество секунд, прошедшее с 01.01.1970 до исполнения кода
print(timestamp)

1758367224.731711

In [48]:
# вернем timestamp в прежний формат с помощью метода .fromtimestamp()
print(datetime.fromtimestamp(timestamp))

2025-09-20 14:20:24.731711

Создание объекта datetime вручную

In [49]:
# передадим объекту datetime 20 февраля 1991 года
hb = datetime(1991, 2, 20)
print(hb)

1991-02-20 00:00:00

In [50]:
# извлечем год с помощью атрибута year
print(hb.year)

1991

In [51]:
# создадим timestamp
print(datetime.timestamp(hb))

666997200.0

### Преобразование строки в объект datetime и обратно

Строка ➞ datetime через `.strptime()`

In [52]:
str_to_dt = "2007-12-02 12:30:45"
type(str_to_dt)

str

In [53]:
# преобразуем ее в datetime с помощью метода .strptime()
res_dt = datetime.strptime(str_to_dt, "%Y-%m-%d %H:%M:%S")
# ломается если не соотв-ет шаблону

print(res_dt)
print(type(res_dt))

2007-12-02 12:30:45
<class 'datetime.datetime'>

Datetime ➞ строка через `.strftime()`

In [54]:
# вначале создадим объект datetime и передадим ему 19 ноября 2002 года
dt_to_str = datetime(2002, 11, 19)
type(dt_to_str)

datetime.datetime

In [55]:
# преобразуем объект в строку в формате "день недели, месяц число, год"
res_str = datetime.strftime(dt_to_str, "%A, %B %d, %Y")

print(res_str)
print(type(res_str))

Tuesday, November 19, 2002
<class 'str'>

In [56]:
# .strftime() можно применять непосредственно к объекту datetime
dt_to_str.strftime("%d, %Y, %A, %B")

'19, 2002, Tuesday, November'

In [57]:
# можно и так
datetime.now().strftime("%Y-%m-%d")

'2025-09-20'

In [58]:
# а еще так
datetime.now().strftime("%c")

'Sat Sep 20 14:20:24 2025'

Форматирование даты и времени через `.strptime()` и `.strftime()`

strptime() - строка → datetime

strftime() - datetime → строка

|Код | Описание | Пример |
| --- | --- | --- |
| `%a` | Сокращенное название дня недели | Sun, Mon, … |
| `%A` | Полное название дня недели | Sunday, Monday, … |
| `%w` | День недели как число, Вс - 0, Пн - 1, ... Сб - 6 | 0, 1, …, 6 |
| `%d` | День месяца в виде числа с нулями | 01, 02, …, 31 |
| `%-d` | День месяца в виде числа без нулей | 1, 2, …, 31 |
| `%b` | Сокращенное название месяца | Jan, Feb, …, Dec |
| `%B` | Полное название месяца | January, February, … |
| `%m` | Месяц в виде числа с нулями | 01, 02, …, 12 |
| `%-m` | Месяц в виде числа без нулей | 1, 2, …, 12 |
| `%y` | Год без века как число с нулями | 00, 01, …, 99 |
| `%-y` | Год без века как число без нулей | 0, 1, …, 99 |
| `%Y` | Год с веком | 1999, 2019, ... |
| `%H` | Час (в 24-часовом формате) в виде числа с нулями | 00, 01, …, 23 |
| `%-H` | Час (в 24-часовом формате) в виде числа без нулей | 0, 1, …, 23 |
| `%I` | Час (12-часовой формат) в виде числа с нулями | 01, 02, …, 12 |
| `%-I` | Час (12-часовой формат) в виде числа без нулей | 1, 2, …, 12 |
| `%p` | AM или PM | AM, PM |
| `%M` | Минуты в виде числа с нулями | 00, 01, …, 59 |
| `%-M` | Минуты в виде числа без нулей | 0, 1, …, 59 |
| `%S` | Секунды в виде числа с нулями | 00, 01, …, 59 |
| `%-S` | Секунды в виде числа без нулей | 0, 1, …, 59 |
| `%j` | День года в виде числа с нулями | 001, 002, …, 366 |
| `%-j` | День года в виде числа без нулей | 1, 2, …, 366 |
| `%c` | Полная дата и время | Sun Nov 21 10:38:12 2021 |
| `%x` | Дата | 11/21/21 |
| `%X` | Время | 10:43:51 |

### Сравнение и арифметика дат

Сравнение дат

In [59]:
# сравним две даты публикации работ Эйнштейна
date1 = datetime(1905, 6, 30)  # "К электродинамике движущихся тел"
date2 = datetime(1916, 5, 11)  # Общая теория относительности

In [60]:
# большей считается более поздняя дата
date1 < date2

True

In [61]:
# обратное будет признано ложным
date1 > date2

False

Календарный и алфавитный порядок дат

In [62]:
# если даты записаны в виде строки в формате ГГГГ.ММ.ДД,
# то мы можем их сравнивать, как если бы мы сравнивали объекты datetime

# вначале запишем даты в виде строки и сравним их
str_1 = "2007-12-02"
str_2 = "2002-11-19"
print(str_1 > str_2)

True

In [63]:
# теперь в виде объекта datetime
print(datetime(2007, 12, 2) > datetime(2002, 11, 19))

True

Промежуток времени и класс timedelta

In [64]:
# если из большей даты вычесть меньшую, то мы получим промежуток между датами
diff = date2 - date1
print(diff)

3968 days, 0:00:00

In [65]:
# при этом результат будет храниться в специальном объекте timedelta
type(diff)

datetime.timedelta

In [66]:
# атрибут days позволяет посмотреть только дни
print(diff.days)

3968

In [67]:
# объект timedelta можно также создать вручную

# для этого вначале импортируем соответствующий класс
# from datetime import timedelta

# а затем создадим объект timedelta продолжительностью 1 день
print(timedelta(days=1))

1 day, 0:00:00

Арифметика дат

In [68]:
# смотрите, что получается,
# объединив объекты datetime и timedelta, мы можем "путешествовать во времени"

# допустим сейчас 1 января 2070 года
future = datetime(2070, 1, 1)
print(future)

2070-01-01 00:00:00

In [69]:
# а мы хотим отправиться в 1 января 1900 года, т.е. на 170 лет назад

# сначала просто умножим 365 дней на 170
time_travel = timedelta(days=365) * 170

# а потом переместимся из будущего в прошлое
past = future - time_travel

# к сожалению, мы немного "не долетим", потому что не учли високосные годы
print(past)

1900-02-12 00:00:00

In [70]:
# мы пролетели 62050 дней
print(365 * 170)

62050

In [71]:
# но мы уже умеем вычислять точное количество дней (с учетом високосных годов)
print(datetime(2070, 1, 1) - datetime(1900, 1, 1))

62092 days, 0:00:00

In [72]:
time_travel = timedelta(days=62092)

past = future - time_travel
print(past)

1900-01-01 00:00:00

In [73]:
# иногда бывает удобно воспользоваться циклом while, чтобы создать перечень дат
# например, список праздничных новогодних дней в 2021 году

cur_date = datetime(2021, 1, 1)  # эту дату мы будем выводить
end_date = datetime(2021, 1, 10)  # это граница (условие в цикле while)

# пока верно условие
while cur_date <= end_date:

    # выведем cur_date в формате "месяц число, год"
    print(cur_date.strftime("%b %d, %Y"))

    # прибавим к выводимой дате один день
    cur_date += timedelta(days=1)

Jan 01, 2021
Jan 02, 2021
Jan 03, 2021
Jan 04, 2021
Jan 05, 2021
Jan 06, 2021
Jan 07, 2021
Jan 08, 2021
Jan 09, 2021
Jan 10, 2021

### Дата и обработка ошибок

Конструкция try/except и оператор pass

In [74]:
# пусть дан список чисел в строковом формате, и мы хотим посчитать их сумму
# предположим, буква "а" попала в список случайно
numbers = ["5", "10", "a", "15", "10"]

# объявим переменную суммы
total = 0

# пройдемся по числам
for number in numbers:

    # попробуем прибавить число к переменной total
    try:
        total += int(number)

    # если же этого сделать не удастся
    except ValueError as error:
        print(type(error).__name__)
        # перейдем к следующему числу
        pass  # pylint: disable=unnecessary-pass

# выведем сумму
total

ValueError

40

In [75]:
# напишем этот же код
total = 0

for number in numbers:
    try:
        total += int(number)
    except ValueError as error:
        print(type(error).__name__)
        # но выведем предупреждение, если число прибавить не удалось
        print(f"Элемент '{number}' обработать не удалось")

total

ValueError
Элемент 'a' обработать не удалось

40