In [ ]:
"""Lists, tuples, and sets."""

### Lists

Basics of working with lists

In [113]:
# An empty list can be created using [] or the list() function.
# import the stemmer class and create an object

from nltk.stem import PorterStemmer

some_list_1: list[str] = []
some_list_2: list[str] = list()  # pylint: disable=R1734

print(some_list_1, some_list_2)

[] []

In [110]:
# List elements can be numbers, strings, other lists,
# and dictionaries, among other things.
number_three = [3, "three", ["number", "three"], {"number": 3}]
number_three

[3, 'three', ['number', 'three'], {'number': 3}]

In [2]:
# The length of the list is calculated using the len() function.
len(number_three)

4

Index and list slice

In [4]:
# the list has positive and negative indices
abc_list: list[str] = ["a", "b", "c", "d", "e"]

# let's use them to output the first and last elements
print(abc_list[0], abc_list[-1])

a e

In [107]:
# # when working with a nested list
salary_list: list[list[str | int]] = [
    ["Anna", 90000],
    ["Igor", 85000],
    ["Alex", 95000],
]

# First, we specify the index of the nested list,
# and then the index of the element in it.
salary_list[1][0]

'Igor'

In [6]:
# The index can be found using the .index() method.
abc_list.index("c")

2

In [7]:
# The .index() method can also be applied to nested lists.
salary_list[0].index(90000)

1

In [114]:
# Let's create a list with the days of the week.
days_list = ["Mn", "Tu", "Wd", "Th", "Fr", "St", "Sn"]

# and we will remove the second through fifth elements inclusive
days_list[1:5]

['Tu', 'Wd', 'Th', 'Fr']

In [9]:
# output every second element in the slice from the first to the fifth
days_list[:5:2]

['Mn', 'Wd', 'Fr']

In [10]:
# Let's check if "Mn" is in the list.
"Mn" in days_list

True

In [11]:
# if "Tu" is in the list
if "Tu" in days_list:

    # display a message
    print("There is such a word.")

There is such a word.

Adding, replacing, and deleting list items

In [13]:
# create a list
weekdays: list[str] = ["Monday", "Tuesday"]

In [14]:
# adding a new element with the .append() method
weekdays.append("Thursday")
weekdays

['Monday', 'Tuesday', 'Thursday']

In [15]:
# add an element to a specific place in the list using the desired index of
# that element
weekdays.insert(2, "Wednesday")
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday']

In [16]:
# change the fourth element in the list
weekdays[3] = "Friday"
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Friday']

In [17]:
# remove the element by its value
weekdays.remove("Friday")
weekdays

['Monday', 'Tuesday', 'Wednesday']

In [18]:
# Remove an element by its index using the keyword del
del weekdays[2]
weekdays

['Monday', 'Tuesday']

In [19]:
# Let's do the same thing using the .pop() method.
# This method outputs the element being deleted.
weekdays.pop(1)

'Tuesday'

In [20]:
# Let's see what's left on our list.
weekdays

['Monday']

Сложение списков

In [ ]:
# You can combine two lists using the .extend() method.
more_weekdays: list[str] = ["Tuesday", "Wednesday", "Thursday", "Friday"]

weekdays.extend(more_weekdays)
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [22]:
weekend = ["Saturday", "Sunday"]

# or simply by combining two lists
print(weekdays + weekend)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [23]:
# Sometimes it is useful to "multiply" list items.
["Monday"] * 2

['Monday', 'Monday']

In [24]:
# such "works" can also be stacked
["Monday"] * 2 + ["Tuesday"] * 2

['Monday', 'Monday', 'Tuesday', 'Tuesday']

Unpacking lists

In [26]:
# there is a list
week: list[str] = [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
    "Sunday",
]

In [27]:
# By specifying the index of the element, it can be written to a variable.
monday = week[0]
monday

'Monday'

In [28]:
# the slice can be placed in several variables
monday, tuesday, wednesday = week[:3]

# It is important that the number of cut elements is equal to the number of   # variables.
monday, tuesday, wednesday

('Monday', 'Tuesday', 'Wednesday')

In [29]:
# you can select the first element and place the rest
# in a variable with an asterisk
monday, *rest = week
monday

'Monday'

In [30]:
# You can also do this, for example, with the first and last elements.
monday, *days, sunday = week
monday, sunday

('Monday', 'Sunday')

In [31]:
# Let's see what elements remain in the variable with an asterisk.
days

['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

Sorting lists

In [32]:
# let's take a list of numbers
nums: list[int] = [25, 10, 30, 20, 5, 15]

In [33]:
# lets sort the list using the sorted() function
sorted(nums)

[5, 10, 15, 20, 25, 30]

In [34]:
# the original list has not changed
nums

[25, 10, 30, 20, 5, 15]

In [35]:
# let's save the sorted list to a new variable
sorted_nums = sorted(nums)
sorted_nums

[5, 10, 15, 20, 25, 30]

In [36]:
# The .sort() method saves the result but does not display it immediately.
# reverse = True sets descending order
nums.sort(reverse=True)

In [37]:
# let's show the result
nums

[30, 25, 20, 15, 10, 5]

In [38]:
# The .reverse() method reverses the order, saves the result, but does not    # print it.
nums.reverse()

# it also needs to be displayed separately
nums

[5, 10, 15, 20, 25, 30]

In [39]:
# The reversed() function returns an iterator.
reversed(nums)

In [40]:
# You can display the result using the list() function.
list(reversed(nums))

[30, 25, 20, 15, 10, 5]

In [41]:
# the result is not saved in
nums

[5, 10, 15, 20, 25, 30]

Преобразование списка в строку

In [43]:
# a list of string elements is given
str_list: list[str] = ["P", "y", "t", "h", "o", "n"]

In [44]:
# Using the .join() method, you can join all elements.
joined_str = "".join(str_list)
joined_str

'Python'

In [115]:
# If nothing is specified in quotation marks,
# the elements will simply be joined,
# but any other element can be specified.
joined_str_ = "_".join(str_list)
joined_str_

'P_y_t_h_o_n'

List arithmetic

In [46]:
# there is a list of numbers
nums_: list[int] = [3, 2, 1, 4, 5, 12, 3, 3, 7, 9, 11, 15]

In [116]:
# Using the .count() method,
# we can count the frequency of an element's
# occurrence in a list.
nums_.count(3)

3

In [117]:
# In addition, we can find the minimum and
# maximum values and the sum of the elements.
print(min(nums_), max(nums_), sum(nums_))

1 15 75

List comprehension

In [49]:
# there is a list of names
# Let's leave names beginning with the letter "A"
names: list[str] = [
    "Artem",
    "Anton",
    "Alexandra",
    "Boris",
    "Viktor",
    "Kenneth",
]

In [118]:
# First, let's solve this problem using a for loop.

# Let's create an empty list.
a_names: list[str] = []

# Let's go through the original list in a for loop.
for name in names:

    # Using the .startswith() method, we will
    # check whether the word begins with "A".
    if name.startswith("A"):

        # if yes, add to the new list
        a_names.append(name)

# print the result
a_names

['Artyom', 'Anton', 'Alexander']

In [119]:
# The same task can be solved using list comprehension.
# Essentially, we are writing:
# "What to do while there is an element in the
# list, under what condition."
a_names = [name for name in names if name.startswith("A")]
a_names

['Artyom', 'Anton', 'Alexander']

In [53]:
# Let's convert all letters to lowercase; no condition is needed here.
lower_names = [name.lower() for name in names]
lower_names

['artem', 'anton', 'alexandra', 'boris', 'viktor', 'kenneth']

In [55]:
# the if-else condition is slightly different
# leave the name if it is not Victor, if it is Victor, replace it with Vadim
replace_name = [name if name != "Viktor" else "Vadim" for name in names]
replace_name

['Artem', 'Anton', 'Alexandra', 'Boris', 'Vadim', 'Kenneth']

In [112]:
# In a class on natural language processing using list comprehension,
# we applied Porter's stemmer to a list of words.
lemmatized: list[str] = [
    "paris",
    "visited",
    "lot",
    "museum",
    "first",
    "went",
    "louvre",
    "largest",
    "art",
    "museum",
    "world",
    "always",
    "interested",
    "art",
    "spent",
    "many",
    "hour",
    "museum",
    "enormous",
    "week",
    "would",
    "enough",
]


porter = PorterStemmer()

# apply the stemmer to element s while there are elements s in the lemmatized # list
stemmed_p = [porter.stem(s) for s in lemmatized]
print(stemmed_p)

['pari', 'visit', 'lot', 'museum', 'first', 'went', 'louvr', 'largest', 'art', 'museum', 'world', 'alway', 'interest', 'art', 'spent', 'mani', 'hour', 'museum', 'enorm', 'week', 'would', 'enough']

### Tuples

Basics of working with tuples

In [120]:
# An empty tuple can be created using empty parentheses ()
# or the tuple() function.
tuple_1: tuple[()] = ()
tuple_2: tuple[str, ...] = tuple()
print(tuple_1, tuple_2)

() ()

In [61]:
# The elements in the array are ordered, which means there is an index.
letters = ("a", "b", "c")
letters[0]

'a'

In [63]:
# but you cannot change an element as we did in the list
# letters[0] = 'd' --> Error

In [65]:
# To change an element, you first need to convert the tuple to a list.
letters_list = list(letters)
letters_list[0] = "d"
letters_list

['d', 'b', 'c']

In [66]:
# A single-element array can be created using a comma.
letter_a: tuple[str] = ("a",)
type(letter_a)

tuple

In [67]:
# if you don't specify the comma, you will get a string
let_a = "a"
type(let_a)

str

`enumerate()` function

In [68]:
companies: list[str] = ["Microsoft", "Apple", "Tesla"]

# if you store the result of the enumerate() function in a single variable,
for company in enumerate(companies):

    # then we will get tuples
    print(company, type(company))

(0, 'Microsoft') <class 'tuple'>
(1, 'Apple') <class 'tuple'>
(2, 'Tesla') <class 'tuple'>

Printing `dictionary` elements

In [70]:
shopping_dict: dict[str, int] = {
    "cucumbers": 2,
    "tomatoes": 3,
    "onion": 1,
    "potatoes": 2,
}

In [71]:
# The same applies to the dictionary and the .items() method.
for item in shopping_dict.items():
    print(item)

('cucumbers', 2)
('tomatoes', 3)
('onion', 1)
('potatoes', 2)

Unpacking tuples

In [ ]:
# Like a list, a tuple also can be unpacked into several variables.
a_var, b_var, c_var = ("a", "b_var", "c_var")
print(a_var)

a

In [121]:
companies = ["Microsoft", "Apple", "Tesla"]

# We already know how to unpack into two variables
# using the enumerate() function.
for index, company_name in enumerate(companies):
    print(index, company_name)

0 Microsoft
1 Apple
2 Tesla

In [75]:
shopping_dict = {
    "cucumbers": 2,
    "tomatoes": 3,
    "onion": 1,
    "potatoes": 2,
}

# the same with dictionary keys and values

for key, value in shopping_dict.items():
    print(key, value)

cucumbers 2
tomatoes 3
onion 1
potatoes 2

`zip()` function

In [122]:
# if there are two or more lists
names = ["Artyom", "Anton", "Alexander", "Boris", "Viktor", "Genadiy"]
income: list[int] = [97000, 110000, 95000, 84000, 140000, 120000]

# The zip() function will combine the first elements of the lists,
# the second elements of the lists, and so on.
zip(names, income)

In [78]:
# to output the result, you need to pass the zip object to the list() function
# the output will be a list of tuples
list(zip(names, income))

[('Artyom', 97000),
 ('Anton', 110000),
 ('Alexander', 95000),
 ('Boris', 84000),
 ('Viktor', 140000),
 ('Genadiy', 120000)]

### Sets

Creating a `set()`

In [79]:
# The empty set is defined using the set() function.
set_1: set[str] = set()

# A non-empty set is defined using the set() function and a list of elements.
set_2: set[str] = set("abcde")  # pylint: disable=W0130

# or by listing elements in curly brackets {}
set_3: set[str] = {"a", "b", "c", "c"}  # pylint: disable=W0130

# the set contains only unique elements, so duplicates are removed
print(set_1, set_2, set_3)

set() {'c', 'd', 'e', 'b', 'a'} {'b', 'c', 'a'}

Adding and removing items

In [80]:
# Let's assume that we want to create a set of vowels in the English language.
vowels: set[str] = {"a", "e", "i", "o"}

In [81]:
# add one letter "ya" using the .add() method
vowels.add("ya")
vowels

{'a', 'e', 'i', 'o', 'ya'}

In [82]:
# Let's add two letters "i" and "yoo" using the .update() method.
vowels.update(["i", "yoo"])
vowels

{'a', 'e', 'i', 'o', 'ya', 'yoo'}

In [ ]:
# if we accidentally add a consonant letter
# we can remove it using the .remove() method
vowels.add("ya")
vowels.remove("ya")
vowels

{'a', 'e', 'i', 'o'}

Set theory in Python

In [104]:
# Two sets are equal if they contain the same elements,
# regardless of the order of the elements.
{"a", "b", "c"} == {"c", "b", "a"}

True

In [94]:
# Let's calculate the power of the set using the len() function.
print(len({"a", "b", "c"}))

3

In [95]:
# Let's check whether the element is contained in the set.
print("a" in {"a", "b", "c"})

True

In [ ]:
# the reverse operation is also possible
print("a" not in {"a", "b", "c"})

False

In [97]:
# Let's check whether A is a subset of B.
set_a: set[str] = {"a", "b", "c"}
set_b: set[str] = {"a", "b", "c", "d", "e", "f"}

set_a.issubset(set_b)

True

In [98]:
# Let's check whether B is a superset of A.
set_b.issuperset(set_a)

True

In [123]:
# Participants in natural language processing
# (nlp) and computer vision (cv)   teams are listed.
nlp: set[str] = {"Anna", "Nikolai", "Pavel", "Oksana"}
cv: set[str] = {"Nikolai", "Yevgeniy", "Olga", "Oksana"}

In [100]:
# find those who work either in nlp, or in cv, or in both teams

# you can use the .union() method
print(nlp.union(cv))

# or symbol |
print(nlp | cv)

{'Oksana', 'Yevgeniy', 'Pavel', 'Nikolai', 'Olga', 'Anna'}
{'Oksana', 'Yevgeniy', 'Pavel', 'Nikolai', 'Olga', 'Anna'}

In [101]:
# find the intersection of sets, i.e., those who work in both NLP and CV
print(nlp.intersection(cv))
print(nlp & cv)

{'Oksana', 'Nikolai'}
{'Oksana', 'Nikolai'}

In [124]:
# Let's exclude those who work only in NLP,
# but not in CV or CV and NLP simultaneously.
print(nlp.difference(cv))
print(nlp - cv)

{'Anna', 'Pavel'}
{'Anna', 'Pavel'}

In [102]:
# Let's exclude those who work only in CV, but not in NLP, or in NLP and CV #
# simultaneously.
print(cv.difference(nlp))
print(cv - nlp)

{'Olga', 'Yevgeniy'}
{'Olga', 'Yevgeniy'}

In [103]:
# find those who work either in CV or NLP, but not in both fields at the same # time
print(nlp.symmetric_difference(cv))
print(nlp ^ cv)

{'Yevgeniy', 'Pavel', 'Olga', 'Anna'}
{'Yevgeniy', 'Pavel', 'Olga', 'Anna'}