In [3]:
"""Variables and basic operations with them."""

'Variables and basic operations with them.'

In [1]:
# defining a variable
my_variable = "Hello, World!"

# printing the variable
print(my_variable)

Hello, World!

In [7]:
# In Python, you can assign different values to several variables at once
x_axis, y_axis, z_axis = 1, 2, 3
print(x_axis, y_axis, z_axis)

1 2 3

In [8]:
#  as well as assign the same value to multiple variables
x_axis = y_axis = z_axis = 0
print(x_axis, y_axis, z_axis)

0 0 0

In [ ]:
#  each item in the list can be "unpacked" into variables

products_list = ["fruit", "vegetables", "dairy"]
category_1, category_2, category_3 = products_list

print(category_1, category_2, category_3)

fruit vegetables dairy

## Automatic data type detection (dynamic typing)

In [22]:
customer_name = "John Doe"  # string variable
loan_amount = 25000.75  # float variable
years = 5  # integer variable

## How to find out the type of a variable in Python?

In [23]:
# recognize the type of variables from the previous example
print(type(customer_name))
print(type(loan_amount))
print(type(years))

<class 'str'>
<class 'float'>
<class 'int'>

## Data type assignment and conversion

In [12]:
string_var = "25"
int_var = int(42)
float_var = float(3.14)

In [13]:
print(type(string_var), type(int_var), type(float_var))

<class 'str'> <class 'int'> <class 'float'>

In [25]:
# Changing the data type of a variable
changing_variable_type = int(string_var)  # converting string to integer
print(type(changing_variable_type), changing_variable_type)  # now it's an integer

<class 'int'> 25

## Variable naming


### Allowed variable names

```variable = "Just a variable"
_variable = "Just a variable"
variable_ = "Just a variable"
my_variable = "Just a variable"
My_variable_123 = "Just a variable"```

```
# The name of a variable consists of several words!
camelCaseVariable = "camelCaseVariable"  # all words except the first begin with a capital letter and are capitalized and spelled consecutively
snake_case_variable = "snake_case_variable"  # all words are in lowercase and separated by underscores
PascalCaseVariable = "PascalCaseVariable"  # all words begin with a capital letter and are spelled consecutively

```

### Invalid variable names

```
# You can't do that.
2variable = 'Invalid variable name' # starts with a digit
my-variable = 'Invalid variable name' # contains a hyphen
my variable = 'Invalid variable name' # contains a space
my.variable = 'Invalid variable name' # contains a dot

```

##  Question. How can I convert a list of numbers so that each element of the list becomes a separate string?

In [16]:
# lets take a simple list

list_ = [1, 2, 3]

In [18]:
# you cannot use only the str() function to convert a list to a string
# because it will convert the entire list to a single string

str(list_)

'[1, 2, 3]'

In [19]:
# option 1: declare a new list and put string values into it in the for loop
string_list = []
for item in list_:
    string_list.append(str(item))
string_list

['1', '2', '3']

In [20]:
# # option 2: use list comprehension
string_list = [str(item) for item in list_]
string_list

['1', '2', '3']

In [21]:
# option 3: map() and list() functions
string_list = list(map(str, list_))
string_list

['1', '2', '3']