In [ ]:
"""Списки, кортежи и множества."""

In [1]:
# # создадим одно пустое
# # возьмем уже знакомый нам по вводному курсу словарь с овощами
# # создадим две переменные и поместим в них пустые кортежи
# # создадим список из букв
# from typing import Dict, List, Set, Tuple, Union

# some_list_1: list
# some_list_2: list
# some_list_1 = []
# some_list_2 = list()

# print(some_list_1, some_list_2)

[] []

In [9]:
# number_three: List[Union[int, str, List[str], Dict[str, int]]]
# number_three = [3, "число три", ["число", "три"], {"число": 3}]
# number_three

[3, 'число три', ['число', 'три'], {'число': 3}]

In [3]:
# len(number_three)

4

In [10]:
# abc_list: List[str] = ["a", "b", "c", "d", "e"]
# # выведем первый и последний элементы
# print(abc_list[0], abc_list[-1])

a e

In [11]:
# salary_list: List[List[Union[str, int]]]
# salary_list = [["Анна", 90000], ["Игорь", 85000], ["Алексей", 95000]]
# salary_list[1][0]

'Игорь'

In [6]:
# abc_list.index("c")

2

In [12]:
# days_list: List[str]
# days_list = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]
# days_list[1:5]

['Вт', 'Ср', 'Чт', 'Пт']

In [8]:
# # начнем с Пн и будем брать дни через один вплоть до, но не включая, Сб [5]
# days_list[:5:2]

['Пн', 'Ср', 'Пт']

In [14]:
# weekdays: List[str]
# weekdays = ["Понедельник", "Вторник"]

# weekdays.append("Четверг")
# weekdays

['Понедельник', 'Вторник', 'Четверг']

In [15]:
# # для этого методу .insert() мы передаем желаемый индекс нового элемента
# # и сам этот элемент
# weekdays.insert(2, "Среда")
# weekdays

['Понедельник', 'Вторник', 'Среда', 'Четверг']

In [16]:
# weekdays[3] = "Пятница"
# weekdays

['Понедельник', 'Вторник', 'Среда', 'Пятница']

In [17]:
# # для удаления по названию можно использовать метод .remove()
# weekdays.remove("Пятница")
# weekdays

['Понедельник', 'Вторник', 'Среда']

In [18]:
# # ключевое слово del удаляет элемент по индексу
# del weekdays[2]
# weekdays

['Понедельник', 'Вторник']

In [19]:
# # метод .pop() не просто удаляет элемент по индексу,
# # но и выводит удаляемый элемент
# weekdays.pop(1)

'Вторник'

In [20]:
# # добавим к списку, в котором есть только понедельник, остальные дни
# more_weekdays: List[str]
# more_weekdays = ["Вторник", "Среда", "Четверг", "Пятница"]

# weekdays.extend(more_weekdays)
# weekdays

['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница']

In [22]:
# # прибавим выходные
# weekend: List[str]
# weekend = ["Суббота", "Воскресенье"]
# print(weekdays + weekend)

['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье']

In [23]:
# # заново создадим список с днями недели
# week: List[str]
# week = [
#     "Понедельник",
#     "Вторник",
#     "Среда",
#     "Четверг",
#     "Пятница",
#     "Суббота",
#     "Воскресенье",
# ]

In [24]:
# Mon = week[0]
# Mon

'Понедельник'

In [25]:
# # количество переменных должно быть равно количеству элементов среза
# Mon, Tue, Wed = week[:3]
# Mon, Tue, Wed

('Понедельник', 'Вторник', 'Среда')

In [26]:
# # отсортируем список по возрастанию
# nums: List[int]
# nums = [25, 10, 30, 20, 5, 15]
# sorted(nums)

[5, 10, 15, 20, 25, 30]

In [27]:
# # с помощью параметра reverse = True сортируем список по убыванию
# nums.sort(reverse=True)
# nums

[30, 25, 20, 15, 10, 5]

In [28]:
# nums.reverse()
# nums

[5, 10, 15, 20, 25, 30]

In [29]:
# list(reversed(nums))

[30, 25, 20, 15, 10, 5]

In [30]:
# str_list: List[str]
# str_list = ["P", "y", "t", "h", "o", "n"]

In [31]:
# joined_str = "".join(str_list)
# joined_str

'Python'

In [32]:
# nums_: List[int]
# nums_ = [3, 2, 1, 4, 5, 12, 3, 3, 7, 9, 11, 15]

In [33]:
# print(min(nums_), max(nums_), sum(nums_))

1 15 75

In [34]:
# names: List[str]
# names = ["Артем", "Антон", "Александр", "Борис", "Виктор", "Геннадий"]

In [36]:
# # создадим пустой список a_names
# a_names: List
# a_names = []

# # пройдемся по списку имен
# for name in names:

#     # если имя начинается с 'А'
#     if name.startswith("А"):

#         # добавим его в список a_names
#         a_names.append(name)

# # посмотрим на результат
# a_names

['Артем', 'Антон', 'Александр']

In [39]:
# a_names: List[str]
# a_names = [name for name in names if name.startswith("А")]
# a_names

['Артем', 'Антон', 'Александр']

In [40]:
# lower_names: List[str]
# lower_names = [name.lower() for name in names]
# lower_names

['артем', 'антон', 'александр', 'борис', 'виктор', 'геннадий']

In [41]:
# replace_name: List[str]
# replace_name = [name if name != "Виктор" else "Вадим" for name in names]
# replace_name

['Артем', 'Антон', 'Александр', 'Борис', 'Вадим', 'Геннадий']

In [43]:
# tuple_1: Tuple[()]
# tuple_2: Tuple[()]
# tuple_1, tuple_2 = (), tuple()
# print(tuple_1, tuple_2)

() ()

In [46]:
# # создадим кортеж
# letters: Tuple[str, ...]
# letters = ("a", "b", "c")

# # и выведем его первый элемент
# letters[0]

'a'

In [47]:
# # преобразуем кортеж в список через функцию list()
# letters: List[str]
# letters = list(letters)

# # теперь элементы можно изменять
# letters[0] = "d"
# letters

['d', 'b', 'c']

In [48]:
# # создадим список с названием трех компаний
# companies: List[str]
# companies = ["Microsoft", "Apple", "Tesla"]

# # и в цикле поместим результат работы функции enumerate()
# # в одну переменную company
# for company in enumerate(companies):
#     print(company, type(company))

(0, 'Microsoft') <class 'tuple'>
(1, 'Apple') <class 'tuple'>
(2, 'Tesla') <class 'tuple'>

In [51]:
# shopping_dict: Dict[str, int]
# shopping_dict = {"огурцы": 2, "помидоры": 3, "лук": 1, "картофель": 2}

In [50]:
# # пройдемся по ключам и значениям с помощью метода .items(),
# # но поместим результат в одну переменную item
# for item in shopping_dict.items():
#     print(item)

('огурцы', 2)
('помидоры', 3)
('лук', 1)
('картофель', 2)

In [52]:
# # если в кортеже три элемента, то и переменных должно быть три

# a, b, c = ("a", "b", "c")

# # выведем переменную a
# print(a)

a

In [53]:
# # снова возьмем список компаний
# companies: List[str]
# companies = ["Microsoft", "Apple", "Tesla"]

# # однако с функцией enumerate() используем две переменные
# for i, company in enumerate(companies):
#     print(i, company)

0 Microsoft
1 Apple
2 Tesla

In [54]:
# shopping_dict: Dict[str, int]
# shopping_dict = {"огурцы": 2, "помидоры": 3, "лук": 1, "картофель": 2}

# # используем две переменные с методом .items()
# for k, v in shopping_dict.items():
#     print(k, v)

огурцы 2
помидоры 3
лук 1
картофель 2

In [56]:
# # создадим два списка: список имен и список доходов
# names: List[str]
# income: List[str]
# names = ["Артем", "Антон", "Александр", "Борис", "Виктор", "Геннадий"]
# income = [97000, 110000, 95000, 84000, 140000, 120000]

# # передадим эти списки функции zip()
# zip(names, income)

In [57]:
# list(zip(names, income))

[('Артем', 97000),
 ('Антон', 110000),
 ('Александр', 95000),
 ('Борис', 84000),
 ('Виктор', 140000),
 ('Геннадий', 120000)]

In [59]:
# set_1: Set
# set_2: Set[str]
# set_3: Set[str]
# set_1 = set()

# # и два непустых множества с повторяющимся элементом 'c'
# set_2 = {"a", "b", "c", "c"}
# set_3 = {"a", "b", "c", "c"}

# print(set_1, set_2, set_3)

set() {'b', 'c', 'a'} {'b', 'c', 'a'}

In [60]:
# not_a_set = {}
# type(not_a_set)

dict

In [61]:
# vowels: Set[str]
# vowels = {"а", "о", "э", "е", "у", "ё", "ю"}

In [62]:
# vowels.add("я")
# vowels

{'а', 'е', 'о', 'у', 'э', 'ю', 'я', 'ё'}

In [63]:
# # передадим методу .update() список из двух гласных букв
# vowels.update(["и", "ы"])
# vowels

{'а', 'е', 'и', 'о', 'у', 'ы', 'э', 'ю', 'я', 'ё'}

In [64]:
# vowels.add("щ")
# vowels

{'а', 'е', 'и', 'о', 'у', 'щ', 'ы', 'э', 'ю', 'я', 'ё'}

In [65]:
# vowels.remove("щ")
# vowels

{'а', 'е', 'и', 'о', 'у', 'ы', 'э', 'ю', 'я', 'ё'}

In [66]:
# {"a", "b", "c"} == {"c", "b", "a"}

True

In [67]:
# "a" in {"a", "b", "c"}

True

In [68]:
# "a" in {"a", "b", "c"}

True

In [70]:
# set_A: Set[str]
# set_B: Set[str]
# set_A = {"a", "b", "c"}
# set_B = {"a", "b", "c", "d", "e", "f"}

# set_A.issubset(set_B)

True

In [71]:
# set_B.issuperset(set_A)

True

In [72]:
# nlp: Set[str]
# cv: Set[str]
# nlp = {"Анна", "Николай", "Павел", "Оксана"}
# cv = {"Николай", "Евгений", "Ольга", "Оксана"}

In [73]:
# print(nlp.union(cv))
# print(nlp | cv)

{'Николай', 'Оксана', 'Анна', 'Ольга', 'Евгений', 'Павел'}
{'Николай', 'Оксана', 'Анна', 'Ольга', 'Евгений', 'Павел'}

In [74]:
# print(nlp.intersection(cv))
# print(nlp & cv)

{'Николай', 'Оксана'}
{'Николай', 'Оксана'}

In [75]:
# print(nlp.difference(cv))
# print(nlp - cv)

{'Анна', 'Павел'}
{'Анна', 'Павел'}

In [76]:
# print(cv.difference(nlp))
# print(cv - nlp)

{'Евгений', 'Ольга'}
{'Евгений', 'Ольга'}

In [77]:
# print(nlp.symmetric_difference(cv))
# print(nlp ^ cv)

{'Анна', 'Ольга', 'Евгений', 'Павел'}
{'Анна', 'Ольга', 'Евгений', 'Павел'}