In [3]:
"""Условия и циклы."""

'Условия и циклы.'

### Условия

Множественные условия (multi-way decisions)

In [ ]:
import numpy as np

number_value = 25

if number_value < 10:
    print("Small")
elif number_value < 100:
    print("Medium")
else:
    print("Large")

Medium

In [5]:
user_input = input("Введите число: ")

number_value = int(user_input)
if number_value < 10:
    print("Small")
elif number_value < 100:
    print("Medium")
else:
    print("Large")

Medium

Вложенные условия (nested decisions)

In [6]:
user_input = input("Введите число: ")

if len(user_input) != 0:
    number_value = int(user_input)

    if number_value < 10:
        print("Small")
    elif number_value < 100:
        print("Medium")
    else:
        print("Large")
else:
    print("Ввод пустой")

Medium

Несколько условий в одном выражении с операторами and или or

In [ ]:
number_value = 42

if 10 < number_value < 100:
    print("Medium")
else:
    print("Small or Large")

Medium

In [8]:
number_value = 2

if number_value < 10 or number_value > 100:
    print("Small or Large")
else:
    print("Medium")

Small or Large

Проверка вхождения элемента в объект с in/not in

In [9]:
sentence = "To be, or not to be, that is the question"
word = "question"

if word in sentence:
    print("Слово найдено")

Слово найдено

In [10]:
number_list = [2, 3, 4, 6, 7]
number = 5

if number not in number_list:
    print("Такого числа в списке нет")

Такого числа в списке нет

In [11]:
fruit_counts = {"apple": 3, "tomato": 6, "carrot": 2}

In [12]:
if "apple" in fruit_counts:
    print("Нашлись")

Нашлись

In [13]:
if 6 in fruit_counts.values():
    print("Есть")

Есть

### Циклы в Python

Основные операции

In [14]:
number_list = [1, 2, 3]

for number in number_list:
    print(number)

1
2
3

In [15]:
products = {"apple": [3, "kg"], "tomato": [6, "pcs"], "carrot": [2, "kg"]}

In [16]:
for key, value in products.items():
    print(key, value)

apple [3, 'kg']
tomato [6, 'pcs']
carrot [2, 'kg']

In [17]:
for product_info in products.values():
    print(product_info[0])

3
6
2

In [18]:
number_array = np.array([1, 2, 3])

for number in number_array:
    print(number)

1
2
3

Функция range()

In [21]:
for i in range(5):
    print(i)

0
1
2
3
4

In [22]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [23]:
for i in range(0, 6, 2):
    print(i)

0
2
4

In [ ]:
months = [
    "Январь",
    "Февраль",
    "Март",
    "Апрель",
    "Май",
    "Июнь",
    "Июль",
    "Август",
    "Сентябрь",
    "Октябрь",
    "Ноябрь",
    "Декабрь",
]

sales = [47, 75, 79, 94, 123, 209, 233, 214, 197, 130, 87, 55]

for month, sale in zip(months, sales):
    print(month, sale)

Январь 47
Февраль 75
Март 79
Апрель 94
Май 123
Июнь 209
Июль 233
Август 214
Сентябрь 197
Октябрь 130
Ноябрь 87
Декабрь 55

### Последовательность в обратном порядке#

Функция reversed()

In [25]:
my_list = [0, 1, 2, 3, 4]

for i in reversed(my_list):
    print(i)

4
3
2
1
0

In [26]:
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

Указать -1 в качестве параметров шага

In [27]:
for i in range(4, 0, -1):
    print(i)

4
3
2
1

In [28]:
for i in range(4, -1, -1):
    print(i)

4
3
2
1
0

Функция sorted()

In [29]:
range_value = range(5)

sorted_values = sorted(range_value, reverse=True)
for i in sorted_values:
    print(i)

4
3
2
1
0

Функция enumerate

In [ ]:
days = [
    "понедельник",
    "вторник",
    "среда",
    "четверг",
    "пятница",
    "суббота",
    "воскресенье",
]

for i, day in enumerate(days):
    print(i, day)

0 Понедельник
1 Вторник
2 Среда
3 Четверг
4 Пятница
5 Суббота
6 Воскресенье

In [31]:
for i, day in enumerate(days, 1):
    print(i, day)

1 Понедельник
2 Вторник
3 Среда
4 Четверг
5 Пятница
6 Суббота
7 Воскресенье

Цикл while

In [32]:
i = 0

while i < 3:
    print("Текущее значение счётчика: " + str(i))
    i += 1
    print("Новое значение: " + str(i))

Текущее значение счётчика: 0
Новое значение: 1
Текущее значение счётчика: 1
Новое значение: 2
Текущее значение счётчика: 2
Новое значение: 3

In [33]:
i = 0

while i < 3:
    print(i)
    i += 1

0
1
2

### Break, continue

Оператор break

In [34]:
clients = {
    1: {"name": "Анна", "age": 24, "sex": "male", "revenue": 12000},
    2: {"name": "Илья", "age": 18, "sex": "female", "revenue": 8000},
}

for client_id, info in clients.items():
    print(client_id, info)
    break

1 {'name': 'Анна', 'age': 24, 'sex': 'male', 'revenue': 12000}

In [35]:
number_value = 6
while number_value != 0:
    print(number_value)
    number_value -= 1
    if number_value == 3:
        break

6
5
4

Оператор continue

In [ ]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

Форматирование строк через f-строки и метод .format()

In [ ]:
days = [
    "понедельник",
    "вторник",
    "среда",
    "четверг",
    "пятница",
    "суббота",
    "воскресенье",
]

Monday = days[0]
Monday

'Понедельник'

In [38]:
print(f"{Monday} - день тяжелый")

Понедельник - день тяжелый

### Ответы на вопросы

Можно ли использовать цикл while с функцией range()?

In [40]:
# да но не оптимально
i = 1
while i in range(1, 11):
    print("Значение счётчика ", i)
    i += 1

Значение счётчика  1
Значение счётчика  2
Значение счётчика  3
Значение счётчика  4
Значение счётчика  5
Значение счётчика  6
Значение счётчика  7
Значение счётчика  8
Значение счётчика  9
Значение счётчика  10

In [41]:
# более оптимальный вид
for i in range(1, 11):
    print("Значение счётчика ", i)

Значение счётчика  1
Значение счётчика  2
Значение счётчика  3
Значение счётчика  4
Значение счётчика  5
Значение счётчика  6
Значение счётчика  7
Значение счётчика  8
Значение счётчика  9
Значение счётчика  10

Можно ли обойтись без оператора continue в приведенном на занятии примере?

In [42]:
# да
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10