In [3]:
"""Дата и время в питоне."""

'Дата и время в питоне.'

#### Модуль datetime

Импорт модуля и класса datetime

In [ ]:
# импортируем весь модуль
import datetime as datetime_module

# timedelta вручную
# часто из модуля datetime удобнее импортировать только класс datetime
from datetime import datetime, timedelta

import pandas as pd

# для изменения часового пояса библиотека pytz
import pytz

# чтобы получить доступ к функции now(), сначала обратимся к модулю, потом к классу
print(datetime_module.datetime.now())

2026-01-24 22:08:04.454994

In [5]:
# и обращаться непосредственно к нему
print(datetime.now())

2026-01-24 22:08:04.473893

Объект datetime и функция `now()`

In [6]:
# поместим созданный с помощью функции now() объект datetime в переменную cur_dt
cur_dt = datetime.now()
print(cur_dt)

2026-01-24 22:08:04.505598

In [7]:
print(
    cur_dt.year,
    cur_dt.month,
    cur_dt.day,
    cur_dt.hour,
    cur_dt.minute,
    cur_dt.minute,
    cur_dt.second,
    cur_dt.microsecond,
)

2026 1 24 22 8 8 4 505598

In [8]:
# также можно посмотреть день недели
# .weekday() - c нуля, .isoweekday() - с единицы
print(cur_dt.weekday(), cur_dt.isoweekday())

5 6

In [9]:
# часовой пояс
print(cur_dt.tzinfo)

None

In [10]:
# выведем текущее время в Москве
dt_moscow = datetime.now(pytz.timezone("Europe/Moscow"))
print(dt_moscow)

2026-01-24 22:08:14.272029+03:00

Timestamp

In [11]:
# timestamp - время в UNIX
timestamp = datetime.now().timestamp()

In [12]:
# кол-во секунд, прошедшее с 01.01.1970 до исполнения кода
print(timestamp)

1769281694.289074

In [13]:
# вернуть в прежний вид с помощью .fromtimestamp()
print(datetime.fromtimestamp(timestamp))

2026-01-24 22:08:14.289074

Создание объекта datetime вручную

In [14]:
# передадим объекту datetime 20 февраля 1991 года
hb = datetime(1991, 2, 20)
print(hb)

1991-02-20 00:00:00

In [15]:
# извлечём год с помощью атрибута year
print(hb.year)

1991

In [16]:
# создадим timestamp
print(datetime.timestamp(hb))

666997200.0

#### Преобразование строки в объект datetime и обратно

Строка -> datetime через `.strptime()`

In [17]:
str_to_dt = "2007-12-02 12:30:45"
type(str_to_dt)

str

In [18]:
res_dt = datetime.strptime(str_to_dt, "%Y-%m-%d %H:%M:%S")

print(res_dt)
print(type(res_dt))

2007-12-02 12:30:45
<class 'datetime.datetime'>

Datetime -> строка через `.strftime()`

In [19]:
dt_to_str = datetime(2002, 11, 19)
type(dt_to_str)

datetime.datetime

In [20]:
res_str = datetime.strftime(dt_to_str, "%A, %B %d, %Y")

print(res_str)
print(type(res_str))

Tuesday, November 19, 2002
<class 'str'>

In [21]:
# .strfrime() можно применять непосредственно к объекту datetime
print(dt_to_str.strftime("%A, %B %d, %Y"))

Tuesday, November 19, 2002

In [22]:
# или так
print(datetime.now().strftime("%Y-%m-%d"))

2026-01-24

In [23]:
# а еще так
print(datetime.now().strftime("%c"))

Sat Jan 24 22:08:14 2026

Форматирование даты и времени через `.strptime()` и `.strftime()`

|Код | Описание | Пример |
| --- | --- | --- |
| `%a` | Сокращенное название дня недели | Sun, Mon, … |
| `%A` | Полное название дня недели | Sunday, Monday, … |
| `%w` | День недели как число, Вс - 0, Пн - 1, ... Сб - 6 | 0, 1, …, 6 |
| `%d` | День месяца в виде числа с нулями | 01, 02, …, 31 |
| `%-d` | День месяца в виде числа без нулей | 1, 2, …, 31 |
| `%b` | Сокращенное название месяца | Jan, Feb, …, Dec |
| `%B` | Полное название месяца | January, February, … |
| `%m` | Месяц в виде числа с нулями | 01, 02, …, 12 |
| `%-m` | Месяц в виде числа без нулей | 1, 2, …, 12 |
| `%y` | Год без века как число с нулями | 00, 01, …, 99 |
| `%-y` | Год без века как число без нулей | 0, 1, …, 99 |
| `%Y` | Год с веком | 1999, 2019, ... |
| `%H` | Час (в 24-часовом формате) в виде числа с нулями | 00, 01, …, 23 |
| `%-H` | Час (в 24-часовом формате) в виде числа без нулей | 0, 1, …, 23 |
| `%I` | Час (12-часовой формат) в виде числа с нулями | 01, 02, …, 12 |
| `%-I` | Час (12-часовой формат) в виде числа без нулей | 1, 2, …, 12 |
| `%p` | AM или PM | AM, PM |
| `%M` | Минуты в виде числа с нулями | 00, 01, …, 59 |
| `%-M` | Минуты в виде числа без нулей | 0, 1, …, 59 |
| `%S` | Секунды в виде числа с нулями | 00, 01, …, 59 |
| `%-S` | Секунды в виде числа без нулей | 0, 1, …, 59 |
| `%j` | День года в виде числа с нулями | 001, 002, …, 366 |
| `%-j` | День года в виде числа без нулей | 1, 2, …, 366 |
| `%c` | Полная дата и время | Sun Nov 21 10:38:12 2021 |
| `%x` | Дата | 11/21/21 |
| `%X` | Время | 10:43:51 |

#### Сравнение и арифметика дат

Сравнение дат

In [24]:
date1 = datetime(1905, 6, 30)
date2 = datetime(1916, 5, 11)

In [25]:
# большей считается более поздняя дата
print(date1 < date2)

True

Календарный и алфавитный порядок дат

Если строки с датой, записаны в виде ГГГГ.ММ.ДД, то мы можем их сравнивать, как если бы мы сравнивали объекты datetime

In [ ]:
print(datetime(2007, 12, 2) > datetime(2002, 11, 19))

True

Промежуток времени и класс timedelta

In [28]:
# если из большей даты вычесть меньшую, то мы получим временной промежуток между датами
diff = date2 - date1
print(diff)

3968 days, 0:00:00

In [29]:
print(type(diff))

<class 'datetime.timedelta'>

In [30]:
print(diff.days)

3968

In [31]:
print(timedelta(days=1))

1 day, 0:00:00

Арифметика дат

In [32]:
# объединив объекты datetime и timedelta, мы можем "путешествовать во времени"

print(datetime(2070, 1, 1) - timedelta(days=365) * 170)

1900-02-12 00:00:00

In [33]:
# также с помощью этого удобно перебирать даты

cur_date = datetime(2021, 1, 1)
end_date = datetime(2021, 1, 10)

while cur_date <= end_date:
    print(cur_date.strftime("%b %d, %Y"))
    cur_date += timedelta(days=1)

Jan 01, 2021
Jan 02, 2021
Jan 03, 2021
Jan 04, 2021
Jan 05, 2021
Jan 06, 2021
Jan 07, 2021
Jan 08, 2021
Jan 09, 2021
Jan 10, 2021

#### Дата и обработка ошибок

Конструкция try/except и оператор pass

In [ ]:
numbers = ["5", "10", "a", "15", "10"]
total = 0
for number in numbers:
    try:
        total += int(number)
    except ValueError:
        pass
total

40

In [ ]:
total = 0

for number in numbers:
    try:
        total += int(number)
    except ValueError:
        print(f"Элемент '{number}' обработать не удалось")

Элемент 'a' обработать не удалось

Обработка нескольких форматов дат

In [ ]:
temp = pd.read_csv(".\\content\\temperature.csv")
print(temp)

          Date  Temp
0   2002-01-01  47.1
1      2002-02  50.5
2    2002-03-1  54.9
3      2002-04  66.1
4   2002-05-01  72.7
5      2002-06  83.2
6      2002-07  88.8
7    2002-08-1  87.8
8   2002-09-01  80.2
9   2002-10-01  64.1
10     11-2002  53.9
11  2002-12-01  44.1

In [ ]:
formats = ["%Y-%m-%d", "%Y-%m-%-d", "%Y-%m"]
counter = 0
for date_text in temp.Date:
    for date_format in formats:
        try:
            print(datetime.strptime(date_text, date_format))
            counter += 1
        except TypeError:
            pass
print("Не обработалось записей:", len(temp) - counter)

# Вывод
# 2002-01-01 00:00:00
# 2002-02-01 00:00:00
# 2002-03-01 00:00:00
# 2002-04-01 00:00:00
# 2002-05-01 00:00:00
# 2002-06-01 00:00:00
# 2002-07-01 00:00:00
# 2002-08-01 00:00:00
# 2002-09-01 00:00:00
# 2002-10-01 00:00:00
# 2002-12-01 00:00:00
# Не обработалось записей: 1

2002-01-01 00:00:00
2002-02-01 00:00:00
2002-03-01 00:00:00
2002-04-01 00:00:00
2002-05-01 00:00:00
2002-06-01 00:00:00
2002-07-01 00:00:00
2002-08-01 00:00:00
2002-09-01 00:00:00
2002-10-01 00:00:00
2002-12-01 00:00:00
Не обработалось записей: 1

In [1]:
int("a")

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
# воспользуемся решением "из коробки" библиотеки Pandas
# передадим функции read_csv() параметр parse_dates
temp_parsed = pd.read_csv(
    r".\content\temperature.csv", index_col="Date", parse_dates=True
)

print(temp_parsed)

            Temp
Date
2002-01-01  47.1
2002-02     50.5
2002-03-1   54.9
2002-04     66.1
2002-05-01  72.7
2002-06     83.2
2002-07     88.8
2002-08-1   87.8
2002-09-01  80.2
2002-10-01  64.1
11-2002     53.9
2002-12-01  44.1

In [45]:
# индекс превратился в объект datetime
print(type(temp_parsed.index))

<class 'pandas.core.indexes.base.Index'>