In [1]:
"""Списки, кортежи и множества."""

'Списки, кортежи и множества.'

## Списки, кортежи и мн-ва

### Списки

#### Основы работы со списками

In [2]:
# пустой список можно создать через [] или функции list()
some_list_1: list[int] = []

print(some_list_1)

[]

In [3]:
# элементами списки могут, в частности, быть числа, строки, другие списки и словари
number_three = [3, "число три", ["число", "три"], {"три": 3}]
number_three

[3, 'число три', ['число', 'три'], {'три': 3}]

In [4]:
len(number_three)

4

#### Индекс и срез списков

In [5]:
# у списка есть положительный и отрицательный индексы
abc_list = ["a", "b", "c", "d", "e"]
# воспользуемся ими для вывода первого и последнего элементов
print(abc_list[0], abc_list[-1])

a e

In [6]:
# при работе с вложенным списком
salary_list = [["Иван", 100000], ["Петр", 200000], ["Сидор", 300000]]

salary_list[1][0]

'Петр'

In [7]:
# индекс можно узнать с помощью метода .index()
abc_list.index("b")

1

In [8]:
days_list = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]
days_list[1:5]

['Вт', 'Ср', 'Чт', 'Пт']

In [9]:
# каждый второй
days_list[:5:2]

['Пн', 'Ср', 'Пт']

In [10]:
"Пн" in days_list

True

In [11]:
if "Вт" in days_list:
    print("Такое слово есть")

Такое слово есть

#### Добавление, замена и удаление элементов списка

In [12]:
# создадим список
weekdays = ["Понедельник", "Вторник"]

In [13]:
# добавим один элемент в конец
weekdays.append("Четверг")
weekdays

['Понедельник', 'Вторник', 'Четверг']

In [14]:
# в определённую позицию
weekdays.insert(2, "Среда")
weekdays

['Понедельник', 'Вторник', 'Среда', 'Четверг']

In [15]:
# изменить элемент
weekdays[0] = "Понедельник"
weekdays

['Понедельник', 'Вторник', 'Среда', 'Четверг']

In [16]:
# удалить элемент по значению
weekdays.remove("Понедельник")
weekdays

['Вторник', 'Среда', 'Четверг']

In [17]:
# удалить по индексу
del weekdays[0]
weekdays.pop(1)

'Четверг'

In [18]:
weekdays

['Среда']

#### Сложение списков

In [19]:
more_weekdays = ["Вторник", "Понедельник", "Пятница"]
weekdays.extend(more_weekdays)

weekdays

['Среда', 'Вторник', 'Понедельник', 'Пятница']

In [20]:
weekend = ["Суббота", "Воскресенье"]

weekend + weekdays

['Суббота', 'Воскресенье', 'Среда', 'Вторник', 'Понедельник', 'Пятница']

In [21]:
["Понедельник"] * 2

['Понедельник', 'Понедельник']

In [22]:
# выражения
["Понедельник"] * 2 + ["Вторник"] * 2

['Понедельник', 'Понедельник', 'Вторник', 'Вторник']

#### Распаковка списков

In [23]:
# дан список
week = [
    "Понедельник",
    "Вторник",
    "Среда",
    "Четверг",
    "Пятница",
    "Суббота",
    "Воскресенью",
]

In [24]:
mon_dow = week[0]
mon_dow

'Понедельник'

In [25]:
mon_dow, tue_dow, wed_dow = week[:3]

mon_dow, tue_dow, wed_dow

('Понедельник', 'Вторник', 'Среда')

In [26]:
mon_dow, *_ = week
mon_dow

'Понедельник'

In [27]:
mon_dow, *days, sun_dow = week
mon_dow, sun_dow

('Понедельник', 'Воскресенью')

In [28]:
days

['Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота']

#### Сортировка списков

In [29]:
nums = [25, 10, 30, 20, 5, 15]

In [30]:
sorted(nums)

[5, 10, 15, 20, 25, 30]

In [31]:
nums

[25, 10, 30, 20, 5, 15]

In [32]:
sorted(nums, reverse=True)

[30, 25, 20, 15, 10, 5]

In [33]:
nums.sort(reverse=True)
nums

[30, 25, 20, 15, 10, 5]

In [34]:
nums.reverse()
nums

[5, 10, 15, 20, 25, 30]

In [35]:
reversed(nums)

In [36]:
list(reversed(nums))

[30, 25, 20, 15, 10, 5]

In [37]:
nums

[5, 10, 15, 20, 25, 30]

#### Преобразование списка в строку

In [38]:
str_list = ["P", "y", "t", "h", "o", "n"]
" ".join(str_list)

'P y t h o n'

#### Арифметика в списках

In [39]:
nums = [1, 2, 3, 4, 5]

In [40]:
nums.count(3)

1

In [41]:
print(max(nums), min(nums), sum(nums))

5 1 15

#### List comprehension

In [42]:
names = ["Артём", "Антон", "Александр", "Борис", "Виктор", "Геннадий"]

In [43]:
# имена начинающиеся на 'A'

a_names = []
for name in names:
    if name.startswith("А"):
        a_names.append(name)
a_names

['Артём', 'Антон', 'Александр']

In [44]:
# намного короче используя list comprehension
print([name for name in names if name.startswith("А")])

['Артём', 'Антон', 'Александр']

In [45]:
replace_name = [name if name != "Виктор" else "Вадим" for name in names]
replace_name

['Артём', 'Антон', 'Александр', 'Борис', 'Вадим', 'Геннадий']

### Кортежи

#### Основы работы с кортежами

In [46]:
tuple_1 = ()
tuple_2: tuple[int, ...] = tuple([1])
print(tuple_1, tuple_2)

() (1,)

In [47]:
letters = ("a", "b", "c")
letters[0]

'a'

Этот код выдаст ошибку, так как кортеж неизменяемый тип:
```python
letters[0] = d
```

In [48]:
# чтобы создать кортеж с одним элементом - запятая
let_a = ("A",)

#### Функция enumerate()

In [49]:
companies = ["Microsoft", "Apple", "Tesla"]

for company in enumerate(companies):
    print(company, type(company))

(0, 'Microsoft') <class 'tuple'>
(1, 'Apple') <class 'tuple'>
(2, 'Tesla') <class 'tuple'>

#### Просмотр элементов словаря

In [50]:
shopping_list = {"огурцы": 2, "помидоры": 1, "лук": 3}

for item in shopping_list.items():
    print(item)

('огурцы', 2)
('помидоры', 1)
('лук', 3)

#### Распаковка кортежей

In [51]:
val1, val2, val3 = ("a", "b", "c")
print(val1, val2, val3)

a b c

In [52]:
companies = ["Microsoft", "Apple", "Tesla"]

for i, company1 in enumerate(companies):
    print(i, company1)

0 Microsoft
1 Apple
2 Tesla

In [53]:
for key, value in shopping_list.items():
    print(key, value)

огурцы 2
помидоры 1
лук 3

#### Функция zip

In [54]:
names = ["Артём", "Антон", "Александр", "Борис", "Виктор", "Геннадий"]
income = [97000, 11000, 95000, 84000, 140000, 120000]

list(zip(names, income))

[('Артём', 97000),
 ('Антон', 11000),
 ('Александр', 95000),
 ('Борис', 84000),
 ('Виктор', 140000),
 ('Геннадий', 120000)]

### Множества

#### Создание множеств

In [55]:
set_1: set[int] = set()
set_2 = {"a", "b", "c"}
set_3 = {"a", "b", "c"}
print(set_1, set_2, set_3)

set() {'a', 'b', 'c'} {'a', 'b', 'c'}

#### Добавление и удаление элементов

In [56]:
vowels = {"а", "о", "е", "ё"}

In [57]:
vowels.add("я")
vowels

{'а', 'е', 'о', 'я', 'ё'}

In [58]:
vowels.remove("я")

#### Теория множеств в питоне

In [59]:
# множества равны по элементам без учета порядка
{"a", "b", "c"} == {"b", "c", "a"}

True

In [60]:
# мощность мн-ва
len({"a", "b", "c"})

3

In [61]:
"a" in {"a", "b", "c"}

True

In [62]:
# проверка на подмножество
set_a = {"a", "b", "c"}
set_b = {"a", "b", "c", "d", "e", "f"}

set_a.issubset(set_b)

True

In [63]:
# надмножество
set_a.issuperset(set_b)

False

In [64]:
nlp = {"Анна", "Николай", "Павел", "Оксана"}
cv = {"Николай", "Евгений", "Ольга", "Оксана"}

In [65]:
nlp | cv

{'Анна', 'Евгений', 'Николай', 'Оксана', 'Ольга', 'Павел'}

In [66]:
nlp & cv

{'Николай', 'Оксана'}

In [67]:
nlp - cv

{'Анна', 'Павел'}

In [68]:
cv - nlp

{'Евгений', 'Ольга'}

In [69]:
# XOR
nlp ^ cv

{'Анна', 'Евгений', 'Ольга', 'Павел'}